{% extends "base.html" %}
{% load crosscountry_extras %}

{% block title %}Runners{% endblock title %}

{% block content %}
  <h1>Coach Nelson's Runners</h1>
    {% for year in years_list reversed %}
      <h2>{{ year }}</h2>
      {% get_dict_value year from runners_by_year as runners %}
      <div class="runners">
        {% sectionbyattribute 'grade' runners %}
          <div class="grade-list">
            <h3 style="">{{ grade.grade|grade_name_plural }}</h3>
            {% sectionbyattribute 'gender' grade.runners %}
            <ul class="{{ gender.gender|gender_name|lower }}-list">
                {% for runner in gender.runners %}
                <li><a href="{{ runner.get_absolute_url }}">{{ runner.name }}</a></li>
              {% endfor %}
              </ul>
            {% endsectionbyattribute %}
          </div>
        {% endsectionbyattribute %}
      </div>
    {% endfor %}
{% endblock %}

